.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(25px, 5.2vw, 100px);
    justify-content: center;
    padding: 10px;


    .error {
        margin-top: 15px;
        color: rgb(206, 54, 54);
        font-size: 16px;
        font-weight: 500;

        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;

        &.visible {
            opacity: 1;
            visibility: visible;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 32px;

        input {
            width: clamp(280px, 49.63vw, 953px);
            height: 72px;
            outline: none;
            border: none;
            border-bottom: 1px solid var(--informative-gray-text) !important;
            background-color: var(--background);
            padding-inline: 24px;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -1%;
            font-weight: 400;
            color: var(--foreground);

            &::placeholder {
                color: var(--placeholder-gray);
            }
        }

       
    }

}


.privacyText {
    color: #696969;
    font-size: 14px;
}