.main {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: clamp(20px, 7.81vw, 150px);
    justify-content: center;
    padding: 10px;
    .h1 {
        letter-spacing: -2%;
        font-size: clamp(40px, 6.66vw, 128px);
        font-weight: 500;
        margin-bottom: 8px;
        line-height: 123px;

    }

    .description {
        max-width: 676px;
        font-size: 20px;
        font-weight: 400;
    }

    @media (max-width: 800px) {
        .h1 {

            margin-bottom: 0px;
        }

        .description {
            font-size: 18px;
        }
    }
}