.main {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 7.44vw, 143px);
    margin-inline: clamp(20px, 7.5vw, 144px);
    margin-top: clamp(25px, 5.2vw, 100px);
    justify-content: center;
    align-items: center;

    .header {
        display: flex;
        flex-direction: column;
        gap: 9px;

        .h2 {
            font-size: 20px;
            font-weight: 400;
            color: var(--orange);
        }

        .h1 {
            font-size: clamp(25px, 2.604vw, 50px);
            font-weight: 500;
            letter-spacing: -2%;
            max-width: 750px;
        }
    }

    .servicesList {
        list-style: none;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        gap: clamp(20px, 3.64vw, 70px);

        .servicesItem {
            min-height: 406px;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            padding: 10px;
            outline: 2px dashed rgba(128, 128, 128, 0.4);
            outline-offset: -1px;

            .servicesCounter {
                color: var(--additional-gray-text);
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 5px;
            }

            .servicesName {
                font-size: clamp(20px, 2.08vw, 40px);
                font-weight: 500;
                letter-spacing: -0.02em;
                margin-bottom: clamp(20px, 5.2vw, 100px);
            }

            .servicesSlogan {
                font-weight: 700;
                font-size: 24px;
                margin-bottom: 10px;
            }

            .servicesDescription {
                font-weight: 500;
                font-size: 18px;
                color: var(--informative-gray-text);
            }
        }
    }

}